extends layout
block content
    .header
        h1= title
    .main
        .tabs 
            | These are the tabs.
        .chatbox
            | This is the main chat box.
        .bottom-bar
            | This is the bottom bar.
        .input
            | Text input + controls
    .side
        | Userlist



