extends layout
block content
    .header
        h2= title
    .main
        .tabs 
            | These are the tabs up top.
        .chatbox
            h1 Heading one
            h2 Heading two
            h3 Heading three
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .bottom-bar
            | This is the bottom bar.
        .input
            | Text input + controls.
    .side
        | Userlist



