// TURN THIS OFF TO REMOVE BORDERS
* {
    border: 1px dotted black !important;
}
// Variables
@headerHeight: 10%;
@mainHeight: 100%-@headerHeight;
@insetPadding: 1%;
// These heights need to add up to 100%
@tabsHeight: 10%;
@chatboxHeight: 70%;
@bottomBarHeight: 5%;
@inputHeight: 15%;

// Normalizers
* {
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
table {
    border-collapse:collapse;
    border-spacing: 0;
}
a {
    color: #00B7FF;
}
html {
    height: 100%;
}
body {
    height: 100%;
    font: 15px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header {
    height: @headerHeight;
    padding: 1em;
    width: 100%;
}
.side {
    height: @mainHeight;
    padding: @insetPadding;
    width: 20%;
    float: right;
    display: inline-block;
}
.main {
    height: @mainHeight;
    padding: @insetPadding;
    width: 80%;
    float: left;
    display: inline-block;
}
.main > div {
    padding: @insetPadding;
}
.tabs {
    height: @tabsHeight;
}
.chatbox {
    height: @chatboxHeight;
}
.bottom-bar {
    height: @bottomBarHeight;
}
.input {
    height: @inputHeight;
}